name: Lighthouse

on:
  push:
    branches: [main, dev, new-ci]
  pull_request:
    branches: [main, dev, new-ci]

concurrency:
  group: lhci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lhci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          check-latest: false

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm -s build

      - name: Run Lighthouse CI
        run: pnpm -s dlx @lhci/cli@0.14.x autorun --upload.target=temporary-public-storage
